<nav class="bottom-nav">
    <a class="bottom-nav__destination" href="scanner">
        <mat-icon>camera_alt</mat-icon>
      <span class="bottom-nav__label">Scanner</span>
    </a>
  
    <a class="bottom-nav__destination " href="history">
        <mat-icon>history</mat-icon>
      <span class="bottom-nav__label">History</span>
    </a>
  
    <a class="bottom-nav__destination" href="generator">
        <mat-icon>add_box</mat-icon>
      <span class="bottom-nav__label">QR Generator</span>
    </a>
  </nav>