<nav class="bottom-nav">
    <a class="bottom-nav__destination" href="scanner">
        <mat-icon>add_to_photos</mat-icon>
      <span class="bottom-nav__label">Scanner</span>
    </a>
  
    <a class="bottom-nav__destination " href="history">
        <mat-icon>history</mat-icon>
      <span class="bottom-nav__label">History</span>
    </a>
  
    <a class="bottom-nav__destination" href="about">
        <mat-icon>description</mat-icon>
      <span class="bottom-nav__label">About</span>
    </a>
  </nav>